<!-- https://beta.developer.spotify.com/documentation/web-api/reference/playlists/get-playlists-tracks/ -->
<% content_for :kaminari_rel, rel_next_prev_link_tags(@tracks) %>
<%= paginate @tracks %>
<%= page_entries_info @tracks, entry_name: 'track' %>
<table>
  <thead>
    <th>#</th>
    <th>ID</th>
    <th>Name</th>
    <th>Popularity</th>
    <th>Local</th>
    <th>Added at</th>
    <th>Added by</th>
  </thead>
  <%= render partial: 'track', collection: @tracks, locals: { offset: @tracks.offset_value } %>
</table>
